.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button {
    background-color: #1a1a1a;
}

.button.secondary {
    background-color: antiquewhite;
    color: #1a1a1a;
}
