.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    width: 100%;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 1.2rem;
    border-radius: 1rem;
    background-color: #333;
}

.address,
.company {
    background-color: antiquewhite;
    width: 100%;
    color: #333;
    text-align: left;
    margin-block: 1em;
    border-radius: 1rem;
}

.address p,
.company p {
    padding-inline-start: 1rem;
}
